.InShopBlock
{
  border: double gray 3px;
 
  padding: 3px 7px;
  background-color: #F0F0F0;
}



.InShopBlock .Goods
{
  padding-top: 5px;
}

.InShopBlock .Goods .Good
{
  padding: 2px 0;
}

.InShopBlock .Goods .Good .Count
{
  display: inline-block;
  width: 60px;
  font-weight: bold;
  text-align: center;
}

.InShopBlock .Goods .Good .Item
{
    width: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.InShopBlock .Goods .Good .PhotoURL
{
    width: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.InShopBlock .Goods .Good .Cost
{
    width: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}

.InShopBlock .Goods .Good .Color
{
    width: 60px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
}