
.InShop2Block {
    border: 1px solid red;
    display: table;
    border-collapse: collapse;
}

.InShop2Block_product {    
    display: table-row;
    width: 420px;    
}

.focused {
    background-color: bisque;
}

.InShop2Block_product_name {
    border: 1px solid red;
    display: table-cell;
    width: 70px;
}

.InShop2Block_product_prise {
    border: 1px solid red;
    display: table-cell;
    width: 40px;
}

.InShop2Block_product_url {
    border: 1px solid red;
    display: table-cell;
    width: 150px;
}

.InShop2Block_product_quantity {
    border: 1px solid red;
    display: table-cell;
    width: 80px;
}

.InShop2Block_product_button {
    border: 1px solid red;
    display: table-cell;
    width: 60px;
}